In [25]:
import glob
import pandas as pd

In [26]:
#importing and concatinating 2016-2020 dfs into one df
twitch_concat_df = pd.concat([pd.read_csv(f) for f in glob.glob('../data/twitch_*.csv')], ignore_index = True)

In [27]:
twitch_concat_df.head()

,year,quarter,month,month_number,date,rank,game,watch_time,stream_time,peak_viewers,peak_channels,streamers,average_viewers,average_channels,average_viewer_ratio
0,2016.0,Q1,January,1.0,2016-01-01,1.0,League of Legends,5.662634e+09,81722640.0,530270.0,2903.0,129172.0,127021.0,1833.0,69.29
1,2016.0,Q1,January,1.0,2016-01-01,2.0,Counter-Strike: Global Offensive,2.869972e+09,49806300.0,372654.0,2197.0,120849.0,64378.0,1117.0,57.62
2,2016.0,Q1,January,1.0,2016-01-01,3.0,Dota 2,2.711154e+09,26003820.0,315083.0,1100.0,44074.0,60815.0,583.0,104.26
3,2016.0,Q1,January,1.0,2016-01-01,4.0,Hearthstone,2.396170e+09,14154180.0,131357.0,517.0,36170.0,53749.0,317.0,169.29
4,2016.0,Q1,January,1.0,2016-01-01,5.0,Call of Duty: Black Ops III,9.691834e+08,69094680.0,71639.0,3620.0,214054.0,21740.0,1549.0,14.03

In [30]:
twitch = pd.read_csv('../data/twitch_date.csv')

In [31]:
twitch.head()

,year,quarter,month,month_number,date,rank,game,watch_time,stream_time,peak_viewers,peak_channels,streamers,average_viewers,average_channels,average_viewer_ratio
0,2016,Q1,January,1,2016-01-01,1,League of Legends,5662633560,81722640,530270,2903,129172,127021,1833,69.29
1,2016,Q1,January,1,2016-01-01,2,Counter-Strike: Global Offensive,2869971780,49806300,372654,2197,120849,64378,1117,57.62
2,2016,Q1,January,1,2016-01-01,3,Dota 2,2711153580,26003820,315083,1100,44074,60815,583,104.26
3,2016,Q1,January,1,2016-01-01,4,Hearthstone,2396169540,14154180,131357,517,36170,53749,317,169.29
4,2016,Q1,January,1,2016-01-01,5,Call of Duty: Black Ops III,969183420,69094680,71639,3620,214054,21740,1549,14.03

In [33]:
twitch.drop(['year', 'month', 'month_number'], axis=1)

,quarter,date,rank,game,watch_time,stream_time,peak_viewers,peak_channels,streamers,average_viewers,average_channels,average_viewer_ratio
0,Q1,2016-01-01,1,League of Legends,5662633560,81722640,530270,2903,129172,127021,1833,69.29
1,Q1,2016-01-01,2,Counter-Strike: Global Offensive,2869971780,49806300,372654,2197,120849,64378,1117,57.62
2,Q1,2016-01-01,3,Dota 2,2711153580,26003820,315083,1100,44074,60815,583,104.26
3,Q1,2016-01-01,4,Hearthstone,2396169540,14154180,131357,517,36170,53749,317,169.29
4,Q1,2016-01-01,5,Call of Duty: Black Ops III,969183420,69094680,71639,3620,214054,21740,1549,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...
5295,Q2,2020-05-01,96,The Last of Us,98659800,5484780,26986,308,5519,2213,123,17.99
5296,Q2,2020-05-01,97,Street Fighter V,90783900,2476200,8417,110,3458,2036,55,36.66
5297,Q2,2020-05-01,98,Persona 5: The Royal,84886500,4403880,9771,229,3626,1904,98,19.28
5298,Q2,2020-05-01,99,MLB The Show 20,84304920,2519040,8171,141,7364,1891,56,33.47
5299,Q2,2020-05-01,100,Dungeons & Dragons,82611180,4660080,18987,376,6860,1853,104,17.73

In [35]:
twitch.to_csv('../data/twitch.csv')